body{
	background-color: Lightcyan;
}
h3{
	color: Teal;
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	font-size: 50px;
}
td:first-child{
	color: Darkcyan;
	text-transform: capitalize;
	font-family: 'Gloria Hallelujah', cursive;
} 
th{
	color: Teal;
	text-transform: capitalize;
	font-family: 'Permanent Marker', cursive;
	font-size: 40px;
}
td:last-child{
	color: Darkcyan;
	font-family: 'Gloria Hallelujah', cursive;
}
td:nth-child(2){
	color: Lightseagreen;
	font-family: 'Gloria Hallelujah', cursive;
}
#table{
	text-align: center;
	font-size: 25px;
}
